PORT=
ALLOWED_ORIGINS= #Separate with commas. eg: https://your-frontend.com,https://another-frontend.org
ALTCHA_KEY_[sitename]= #Replace [sitename] with a unique identifier for your site.

# To integrate this service into your frontend site, you will need to add the site's url to the ALLOWED_ORIGINS list, and the [sitename] will have to be called from the frontend when making fetch requests to the backend