PORT=
ALLOWED_ORIGINS=url1,url2,url3
ALTCHA_KEY_[site1]=secret_key_for_site1
ALTCHA_KEY_[site2]=secret_key_for_site2
# Whatever values replace "site1" or "site2" above must be used as site query values when the frontend requests the challenge